torch==2.5.1
deepspeed
accelerate==0.31.0
transformers
tokenizers
datasets
peft
sentencepiece
bitsandbytes>=0.41.1
protobuf
open_clip_torch==2.18.0
scipy
packaging
openai>=1.0.0
tiktoken
wandb
docta.ai
gradio>=3.50.2
seaborn
vllm==0.7.0